.container {
    --container: 200px;
    --padding-container: 10px;

    max-width: calc(var(--container) + var(--padding-container) * 2);
    padding: 0 var(--padding-container);
    margin: 0 auto;
}

@media (min-width: 480px) {
    .container {
        --container: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        --padding-container: 64px
    }
}

@media (min-width: 1050px) {
    .container {
        --container: 1000px;
        --padding-container: 32px
    }
}

@media (min-width: 1450px) {
    .container {
        --container: 1360px;
        --padding-container: 0px
    }
}

